@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Syne:regular,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
    /* border: dashed 1px red; */
}
:root{

    --platinum: #e6e7ea;
    --salt: #f8f8f9;
    --silver: #c8c9ca;
    --charcoal: #444851;
    --gray: #5c6170;
    --black: #272829;

}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: var(--platinum);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: var(--charcoal);
    border-radius: 10px;
}

/* ===================      Header designing      =================== */


header{
    position: fixed;
    width: 100%;
    display: flex;
    top: 0;
    justify-content: space-between;
    gap: 3rem;
    /* background-color: var(--platinum); */
    background-color: transparent;
    padding: 15px 10%;
    align-items: center;
    transition: 1000ms ease;
    z-index: 100;
    & img{
        width: 50px;
    }
    & nav{
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        & a{
            display: flex;
            align-items: center;
            gap: .3rem;
            text-decoration: none;
            font-size: 15px;
            color: var(--gray);
            transition: 300ms ease;
            text-transform: capitalize;
            font-weight: 600;
        }
        & a:hover{
            color: var(--black);
        }
        & a:focus{
            color: var(--black);
        }
        & .social{
            display: none;
        }
        
    }
    & .fa-xmark, & .fa-bars{
        font-size: 35px;
        color: var(--gray);
        visibility: hidden;
        opacity: none;
        display: none;
    }
    & .fa-bars{
        display: none;
    }
}

header.sticky{
    background-color: var(--platinum);
    box-shadow: 0 0 20px 5px var(--gray);
}

@media screen AND (max-width: 830px){
    header .logo img{
        width: 40px;
    }
    header .fa-solid{
        display: block;
        visibility: visible;
        opacity: 1;
    }
    header .fa-xmark{
        position: absolute;
        top: 20px;
        right: 10%;
    }
    nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--black);
        transition: 1s ease;
        transform: translateY(-100vh);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;
    }
    .responsive_nav{
        transform: none;
    }
}


/* ===================      Header designing      =================== */




/* ===================      Home designing      =================== */


main{
    width: 100%;
    & #hero{
        height: 100vh;
        width: 100%;
        background-color: var(--platinum);
        background-image: url(../images/background.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 80px 10%;
        & .contents{
            height: 100%;
            /* overflow: hidden; */
            position: relative;
            /* background-color: rgba(255, 0, 0, 0.156); */
            & .image{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            & img{
                width: 70%;
                aspect-ratio: 1;
                object-fit: cover;
                border-radius: 50%;
                border: solid .5em var(--platinum);
            }
            & .intro{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                height: 100%;
                justify-content: space-between;
                align-items: center;
                justify-content: center;
                & .texts{
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    & h1{
                        font-size: 4rem;
                        font-family: 'Syne', sans-serif;
                        color: var(--charcoal);
                    }
                    & .desc{
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        & h3{
                            color: var(--black);
                            font-size: 22px;
                        }
                        & p{
                            font-size: 1.1rem;
                            color: var(--gray);
                            font-family: 'Poppins', sans-serif;
                            line-height: 1.5rem;
                        }
                    }
                    & a{
                        background-color: var(--charcoal);
                        width: -moz-fit-content;
                        width: fit-content;
                        padding: .6rem 1rem;
                        border-radius: 5px;
                        text-decoration: none;
                        color: var(--salt);
                        font-size: 1rem;
                        font-family: 'Poppins', sans-serif;
                        text-transform: capitalize;
                        transition: 300ms ease;
                    }
                    & a:hover{
                        background-color: var(--black);
                    }
                }
            }
            & .social{
                width: -moz-fit-content;
                width: fit-content;
                position: absolute;
                bottom: 0;
                display: flex;
                gap: 1rem;
                & a{
                    text-decoration: none;
                    font-size: 1.5rem;
                    transition: 300ms ease;
                    color: var(--charcoal);
                }
                & a:hover{
                    color: var(--black);
                }
            }
            & .scroll{
                width: -moz-fit-content;
                width: fit-content;
                position: absolute;
                bottom: 0;
                right: 0;
                gap: 1rem;
                & a{
                    border: solid 2px var(--salt);
                    border-radius: 25px;
                    padding: 12px 8px;
                    transition: 300ms ease;
                    text-decoration: none;
                    font-size: 1.5rem;
                    transition: 300ms ease;
                    color: var(--platinum);
                    & i{
                        animation: move 2s linear infinite;
                    }
                }
                & a:hover{
                    background-color: var(--salt);
                    color: var(--charcoal);
                }
            }
        }
    }
}
@keyframes move {
    0%{
        transform: translateY(-5px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}


@media screen AND (max-width: 1260px) {
    main{
        & #hero{
            & .contents{
                & img{
                    width: 90%;
                }
                & .intro{
                    & .texts{
                        & h1{
                            font-size: 2.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen AND (max-width: 1024px){
    main{
        & #hero{
            & .contents{
                & .intro{
                    grid-template-columns: repeat(1, 1fr);
                    & .image{
                        display: none;
                    }
                    & .texts{
                        & p{
                            text-align: justify;
                        }
                        & .desc{
                            & h3{
                                font-size: 18px;
                            }
                            & p{
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen AND (max-width: 768px){
    main{
        & #hero{
            & .contents{
                & .scroll{
                    display: none;
                }
                & .intro{
                    & .texts{
                        gap: .8rem;
                        & .desc{
                            gap: .5rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen AND (max-width: 500px){
    main{
        & #hero{
            & .contents{
                & .intro{
                    & .texts{
                        & h1{
                            font-size: 1.7rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen AND (max-height: 580px){
    /* header{
        & nav{
            & .social{
                display: flex;
                gap: 1rem;
            }
        }
    } */
    main{
        & #hero{
            & .contents{
                & .social{
                    display: none;
                }
            }
        }
    }
}

/* ===================      Home designing      =================== */




/* ===================      About designing      =================== */

.page{
    position: absolute;
    top: 80px;
    right: 0;
    display: flex;
    align-items: center;
    & h3{
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
        color: var(--charcoal);
    }
    & .line{
        width: 40px;
        height: 5px;
        border-radius: 4px 0 0 4px;
        background-color: var(--charcoal);
    }
}
.title{
    display: flex;
    flex-direction: column;
    gap: .2rem;
    margin-bottom: 20px;
    & p{
        color: var(--gray);
        font-family: 'Poppins', sans-serif;
    }
    & h2{
        color: var(--charcoal);
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 25px;
    }
    & .line{
        width: 70px;
        height: 3px;
        border-radius: 3px;
        background-color: var(--charcoal);
    }
}
#about{
    background-color: var(--salt);
    position: relative;
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    & .contents{
        padding: 80px 10%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        & .texts{
            grid-column: span 2;
            & .info{
                & p{
                    font-size: 18px;
                    color: var(--charcoal);
                    font-family: 'Poppins', sans-serif;
                }
                & .cards{
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 1rem;
                    margin-top: 20px;
                    & .card{
                        display: flex;
                        flex-direction: column;
                        background-color: #fefefe;
                        border: solid 1px var(--silver);
                        border-radius: 5px;
                        padding: 10px 25px;
                        align-items: center;
                        gap: .2rem;
                        transition: 300ms ease;
                        & h2{
                            font-size: 18px;
                            font-weight: 500;
                            color: var(--charcoal);
                            font-family: 'Poppins', sans-serif;
                            transition: 200ms ease;
                        }
                        & p{
                            font-size: 15px;
                            color: var(--gray);
                            font-family: 'Poppins', sans-serif;
                            transition: 200ms ease;
                        }
                        & i{
                            color: var(--charcoal);
                            font-size: 1.4rem;
                            transition: 200ms ease;
                        }
                    }
                    & .card:hover{
                        transform: translateY(-5px);
                        background-color: var(--charcoal);
                        border: solid 1px var(--charcoal);
                        cursor: pointer;
                        & i{
                            color: #fefefe;
                        }
                        & p{
                            color: var(--silver);
                        }
                        & h2{
                            color: #fefefe;
                        }
                    }
                }
                & a{
                    & button{
                        margin-top: 10px;
                        padding: 10px 15px;
                        color: var(--salt);
                        background-color: var(--charcoal);
                        border-radius: 3px;
                        border: none;
                        transition: 500ms ease;
                        font-size: 15px;
                        font-family: 'Poppins', sans-serif;
                        cursor: pointer;
                    }
                    & button:hover{
                        background-color: var(--black);
                    }
                }
            }
        }
    }

}
@media screen AND (min-width: 767px) AND (max-width: 1024px) {
    #about{
        & .contents{
            display: flex;
            flex-direction: column;
            & .texts{
                & .info{
                    & .cards{
                        grid-template-columns: 1fr 1fr;
                    }
                }
            }
        }
    }
}

@media screen AND (max-width: 767px){
    #about{
        & .contents{
            display: flex;
            flex-direction: column;
            & .texts{
                & .info{
                    & p{
                        font-size: 15px;
                    }
                    & .cards{
                        grid-template-columns: 1fr;
                    }
                }
            }
        }
    }
    .page{
        & h3{
            font-size: 20px;
        }
        & .line{
            width: 25px;
            height: 3px;
        }
    }
}

/* ===================      About designing      =================== */


/* ===================      Skills designing      =================== */

#skills{
    background-color: var(--salt);
    position: relative;
    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    & .contents{
        padding: 80px 10%;
        & .cards{
            display: grid;
            margin-bottom: 100px;
            & .card{
                background-color: var(--silver);
                padding: 20px;
                width: 50%;
                position: relative;
                display: flex;
                flex-direction: column;
                gap: .2rem;
                & .shape{
                    position: absolute;
                    width: 15px;
                    height: 12px;
                    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
                    background-color: var(--gray);
                }
                & .time{
                    font-family: 'Poppins', sans-serif;
                    color: var(--charcoal);
                }
                & .school{
                    font-size: 22px;
                    font-family: 'Poppins', sans-serif;
                    color: var(--charcoal);
                    font-weight: 400;
                }
                & .desc{
                    font-family: 'Poppins', sans-serif;
                    color: var(--charcoal);
                }
            }
            & .card:nth-child(even){
                border-right: solid 4px var(--charcoal);
                margin-left: 2px;
                & .shape{
                    right: 0;
                    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
                }
            }
            & .card:nth-child(odd){
                margin-left: auto;
                margin-right: 2px;
                border-left: solid 4px var(--charcoal);
                & .shape{
                    left: 0;
                }
            }
        }
        & .progresses{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
            & .progress{
                display: flex;
                flex-direction: column;
                & .text{
                    display: flex;
                    justify-content: space-between;
                    & p{
                        color: var(--gray);
                        font-family: 'Poppins', sans-serif;
                    }
                }
                & .max{
                    background-color: var(--silver);
                    width: 100%;
                    height: 8px;
                    border-radius: 10px;
                    & .min{
                        background-color: var(--charcoal);
                        height: 100%;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
}
@media screen AND (max-width: 767px){
    #skills{
        & .contents{
            & .cards{
                gap: .2rem;
                & .card{
                    width: 100%;
                }
                & .card:nth-child(odd){
                    margin-left: 0px;
                }
                & .card:nth-child(even){
                    margin-left: 0px;
                }
            }
            & .progresses{
                grid-template-columns: 1fr;
            }
        }
    }
}

/* ===================      Skills designing      =================== */